* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
}

html {
  font-size: 62.5%;
}

body {
  background-color: #121212;
  color: aliceblue;
  /* cada rem 10px */
  font-size: 1.6rem;
}

body h1 {
  font-family: "Inter", sans-serif;
  font-size: 3.6rem;
}

body h2 {
  font-family: "Inter", sans-serif;
  font-size: 2.6rem;
}

body h3 {
  font-family: "Inter", sans-serif;
  font-size: 1.6rem;
}

body p {
  font-family: sans-serif;
  font-size: 1.6rem;
  font-weight: bold;
}

.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  color: aliceblue;
}

.main {
  margin-top: 1vw;
  align-self: center;
  text-align: center;
  width: 100vw;
  max-width: 900px;
}

.listGif {
  display: grid;
  gap: 1vh 1vw
}

.flex {
  display: flex;
  align-items: center;
}



@media (min-width:873px) {


  .navBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 15vh;
  }

  .iconPoke {
    width: 10vh;
  }


  .titulo {
    padding: 1vw;
    font-size: 6rem;
  }

  .inicial {
    padding: 3vh;
  }

  .inicial h2 {
    padding: 0.5vw;
  }

  .gifPoke {
    height: 25vw;
    padding: 5vh;
  }

  .Button {
    border: none;
    outline-style: none;
    text-align: center;
    background: transparent;
    transition: 0.10s ease-in;
    color: aliceblue;
    margin: 0.5vw;
    padding: 0.3vw;
  }

  .Button:hover {
    border: 1px solid;
    border-radius: 100%;
    border-color: rgb(255, 0, 0);
  }

  .Button i {
    font-size: 4rem;
    margin: 0;
  }

  .input::placeholder {
    padding: 50px;
  }

  .InputI {
    width: 0;
    height: 0;
    background: transparent;
    border: 0;
  }

  .Input {
    height: 5vh;
    border-radius: 5px;
    border-width: 1px;
    width: 23vw;
    transition: 0.10s ease-in;
    padding: 1vw;
    font-size: 2rem;
  }

  .listGif {
    grid-template-columns: repeat(3, 1fr);
    grid-auto-columns: 30vw;
    grid-auto-rows: 25vh;
    justify-content: space-evenly;
    padding: 3vh 1vw;
  }

  .itemGif {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: 100%;
  }

  .itemGif img {
    max-height: 84%;
    max-width: 100%;
  }

  .like {
    background: transparent;
    margin-left: 30%;
    width: 40%;
    display: block;
    align-items: center;
    color: red;
    font-size: 1.9rem;
    margin-bottom: 0;
  }

  .like i:hover {
    font-size: 2rem;
    cursor: pointer;
  }

}

@media (max-width:873px) {
  .listGif {
    grid-template-columns: repeat(1, 1fr);
  }
}